/* QUICK TIPS */
.quick-tips {
  grid-column: 9 / 13;
  grid-row: 3 / 5;
  background: #169596;
  border-radius: 12px;
  padding: 30px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 430px;
}

.tips-header {
  font-size: 28px;
  font-weight: 600;
  background: #169596;
  color: white;
  padding: 10px;
  text-align: center;
}

.tips-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.tips-text {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
  background: #cfeaec;
   padding: 10px;
    border-radius: 12px;
   
}

.tips-button {
  background: rgba(0, 38, 255, 0);
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
  width: 100%;
}

.tips-button:hover {
  opacity: 0.9;
  text-decoration: underline;
  text-decoration-color: currentColor; /* Use the current text color for underline */
}