/* LOGIN FOOTER */
.login-footer {
  text-align: center;
  margin-top: 24px;
}

.login-footer p {
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.toggle-button {
  background: none;
  border: none;
  color: #169596;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.2s ease;
}

.toggle-button:hover {
  color: #000000;
  text-decoration: underline;
}